.pageheader {
  font-size: 32px;
  padding: auto;
  margin-top: 30px;
  margin-bottom: 32px;
  color: #3b72f2;
  font-weight: bold;
  text-align: center;
}

.containerborder {
  border: 1px solid #3b72f2;
  max-width: 1400px;
  margin: auto;
  margin-top: 200px;
}

.login {
  font-size: 60px;
  font-weight: bold;
  display: inline-block;
  color: #3b72f2;
  vertical-align: middle;
  margin-left: 16px;
}

.sign-form .form-group {
  margin-bottom: 30px;
  margin-top: 30px;
}

.button1 {
  width: 500px;
  float: right;
  margin-top: 16px;
  margin-bottom: 30px;
  background-color: #3b72f2;
  outline-color: #3b72f2;
  font-size: 20px;
}

.button2 {
  width: 160px;
  background-color: #3b72f2;
  outline-color: #3b72f2;
  display: inline-block;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.button3 {
  width: 100%;
  background-color: #3b72f2;
  outline-color: #3b72f2;
  display: inline-block;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.fixinput {
  top: 7px;
  right: 9px;
  position: absolute;
  color: #777777;
  cursor: default;
}

.imagesize {
  resize: both; /* 이미지 최대 사이즈에 적용 */
  max-width: 1000px; /* 넓이를 지정 */
  height: 500px; /* 높이를 지정 */
}
.cardlayout {
  align-items: center;
  border: 1px solid #3b72f2;
  margin-bottom: 600px;
  padding: 30px;
}

.collayout {
  border: 1px solid;
  border-collapse: collapse;
  border-bottom-style: hidden;
  border-right-style: hidden;
}
.collayout2 {
  border: 1px solid;
  border-collapse: collapse;
  border-bottom-style: hidden;
}
.collayout3 {
  border: 1px solid;
  border-collapse: collapse;
  border-right-style: hidden;
}
.collayout4 {
  border: 1px solid;
  border-collapse: collapse;
}
